<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

    .abd {
        flex-direction: row;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 5%;
        background-color: rgb(243, 160, 64);
    }

    .main {
        flex-direction: row;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 10%;
        margin-left: 4%;
        margin-right: 4%;
        background-color: rgba(0, 136, 169, 1);
    }
    .logo{
        margin-top: 3%;
    }
</style>

<body>
    <header>
        <img class="logo" src="/img/logo.jpg" alt="logo" width="200px" height="50px">
    </header>
    <div class="abd">
        <h1>About</h1>

    </div>
    <div class="main">
        <h3>This Project is for Leaning Purpose only. This is simply LMS{iLearn} website where the owner can only edit
            the details.In these Project we use HTML,CSS for frontend and javascript used for interactive web pages. for
            backend we use NodeJs and ExpressJs and for database we use Mongodb.</h3>
    </div>
</body>

</html>