<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLearn</title>

    <link rel="stylesheet" href="Home.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">


</head>

<body>
    <header>
        <img class="logo" src="/img/logo.jpg" alt="logo" width="200px" height="50px">
        <nav>
            <ul class="nav-links">
                <li><a href="">Contact</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Task Manager</a></li>

            </ul>
        </nav>
        <a  href="/login"><button class="cta">login</button></a>


    </header>

    <main>

        <div class="maindiv"></div>

        <!--card -->

        <div class="main">

            <!--cards -->

            <div class="card">

                <div class="image">
                    <img src="/img/card1.jpg">
                </div>
                <div class="title">
                    <h1>
                        Full-Stack Web Development</h1>
                </div>
                <div class="des">
                    <p><strong>Learn with Industry Experts</strong> </p>
                    <a href="/login">
                        <button class="card-btn">Read More...</button>
                    </a>
                </div>
            </div>
            <!--cards -->


            <div class="card">

                <div class="image">
                    <img src="/img/card2.jpg">
                </div>
                <div class="title">
                    <h1>
                        Data Science</h1>
                </div>
                <div class="des">
                    <p><strong>In Upcoming Month</strong> </p>
                    <a href="/login">
                        <button class="card-btn">Read More...</button>
                    </a>
                </div>
            </div>
            <!--cards -->

            <div class="card">

                <div class="image">
                    <img src="/img/card4.png">
                </div>
                <div class="title">
                    <h1>
                        Mobile App Development</h1>
                </div>
                <div class="des">
                    <p><strong>In Upcoming Month</strong> </p>
                    <a href="/login">
                        <button class="card-btn">Read More...</button>
                    </a>
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="items">
                    <a href="#" class="logo"><img src="/img/logo.jpg" alt="logo" width="200px" height="50px"></a>
                    <p> Made By Rishi</p>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="https://linkedin.com/in/rishi-somani-b49344188
                        "><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="https://github.com/R95-del"><i class="fa fa-github"></i></a>
                    </div>
                </div>
                <div class="items">
                    <h3> About</h3>
                    <ul>
                        <li><a href="/about">About</a></li>

                    </ul>
                </div>

                <div class="items">
                    <h3>Legal</h3>
                    <ul>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Cookie Policy</a></li>

                    </ul>
                </div>
                <div class="items">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

            </div>
            <hr>
            <p class="end">Copyright © 2021 iLearning. All rights reserved.</p>
        </div>
    </footer>
</body>


</html>