<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>
<body>

    <div class="center">
        <form action="" method="">

            <div class="txt_field">
                <input type="text" required name="name">
                <span></span>
                <label>Name</label>
            </div>
            
            <div class="txt_field">
                <input type="email" required name="email">
                <span></span>
                <label>Email</label>
                <div class="email_error"></div>
            </div>
            <div class="txt_field">
                <input type="password" required name="password">
                <span></span>
                <label>Password</label>
                <div class="password_error"></div>
            </div>
            <div ></div>
            <input type="submit" value="login" class="btn">
            <div class="signup_link">
               
            </div>
        </form>
    
</body>
</html>